body {
  padding: 0;
  overflow: hidden;
}

#footer {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  font-size: small;
  border-top: 1px solid #ddd;
}

#main-logo {
  width: 300px;
  height: 300px;
}

.toolbar-icon {
  width: 36px;
  height: 36px;
}

.scrollable {
  height: calc(100% - 64px - 48px);
  overflow-y: auto;
}

.video-thumbnail {
  width: 88px;
  padding-right: 16px;
}

.text-right {
  text-align: right;
}

.animate-leave,
.animate-enter {
  -webkit-transition: .5s linear all; /* Chrome */
	transition: .5s linear all;
}

.animate-leave.animate-leave-active {
  height: 0!important;
}

.keep-hide {
  height: 0!important;
}

.remove-vert-padding {
  padding-top: 0;
  padding-bottom: 0;
}

md-list-item {
  border-top: 1px solid rgb(158,158,158);
  padding: 8px 0;
}

md-card-content p {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: .8em;
}

md-button.md-icon-button-large {
  height: 80px;
  width: 80px;
}

md-button.md-icon-button-large md-icon {
  height: 66px;
  width: 66px;
}

md-button.md-icon-button-large md-icon i.material-icons {
  font-size: 66px;
}

#yt-dialog md-dialog {
  width: 100%;
}
