body {
  padding: 0;
  overflow: hidden;
}

#footer {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  font-size: small;
  border-top: 1px solid #ddd;
}

#main-logo {
  width: 300px;
  height: 300px;
}

.toolbar-icon {
  width: 36px;
  height: 36px;
}

.scrollable {
  height: calc(100% - 64px - 48px);
  overflow-y: auto;
}

.video-thumbnail {
  width: 88px;
  padding-right: 16px;
}
