<div class="content" ng-controller="HomeCtrl" ng-cloak>

  <md-content
    hide
    show-gt-xs
    layout="row"
    layout-align="center center">
    <img
      ng-class="{'animate-leave-active': videoList && videoList.length, 'keep-hide': model.hasMadeFirstSearch}"
      class="md-padding animate-leave"
      src="images/youtube-draw-logo.svg" id="main-logo">
  </md-content>

  <form name="searchForm">
    <md-content class="md-padding" layout-xs="row" layout="row">
      
        <md-card
          flex-gt-xs="50"
          flex-offset-gt-xs="25"
          flex="100" flex-offset="0">
          <md-card-content class="remove-vert-padding" layout="row" layout-align="space-between">
            <md-input-container layout="row" class="md-block md-icon-float md-accent" flex>
              <input name="search" required placeholder="Search" ng-model="model.searchValue">
              <div ng-messages="searchForm.search.$error">
                <div ng-message="required">Preencha o campo de busca.</div>
              </div>
            </md-input-container>
            <md-input-container layout="row" class="md-block md-icon-float" [flex=20]>
              <md-button type="submit" class="md-icon-button" ng-click="search(true)">
                <md-icon class='md-accent'>
                  <i class="material-icons">search</i>
                </md-icon>
              </md-button>
            </md-input-container>
          </md-card-content>
        </md-card>
      </form>
    </md-content>
  </form>

  <md-content layout-xs="column" layout="column" ng-if="videoList.length > 0">
    <md-list flex>
      <md-list-item
        class="md-3-line"
        ng-repeat="video in videoList"
        ng-click="openDetails(video)">
        <img ng-src="{{ video.thumbnail }}" class="video-thumbnail" alt="{{ video.title }}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
        </div>
      </md-list-item>
    </md-list>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-accent md-raised" ng-click="search(false)">
        Buscar mais resultados
      </md-button>
    </section>
  </md-content>

  <div
    layout="row"
    layout-sm="column"
    layout-align="center center" ng-if="model.loading">
    <md-progress-circular class="md-accent" diameter="100" md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
