<div class="page-header" ng-controller="HomeCtrl" ng-cloak>

  <md-content 
    ng-class="{'ng-hide': videoList && videoList.length}"
    class="md-padding" 
    layout-xs="row" 
    layout="row" 
    layout-align="center center">
    <img src="images/youtube-draw-logo.svg" id="main-logo">
  </md-content>

  <md-content class="md-padding" layout-xs="row" layout="row">
    <md-card flex="50" flex-offset="25">
      <md-card-content layout="row" layout-align="space-between">
        <md-input-container layout="row" class="md-block md-icon-float" flex-gt-xs>
          <input placeholder="Search" ng-model="model.searchValue">
        </md-input-container>
        <md-input-container layout="row" class="md-block md-icon-float" [flex=20]>
          <md-button class="md-icon-button" ng-click="search(true)">
            <md-icon class="md-primary">
              <i class="material-icons">search</i>
            </md-icon>
          </md-button>
        </md-input-container>
      </md-card-content>
    </md-card>
  </md-content>

  <md-content class="md-padding" layout-xs="row" layout="row">
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="video in videoList" ng-click="null">
        <img ng-src="{{ video.thumbnail }}" class="video-thumbnail" alt="{{ video.title }}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
