<div class="page-header" ng-controller="DetailsCtrl as detCtrl" ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <md-card flex="50" flex-offset="25">
            <md-card-content layout="row" layout-align="space-between">
                <md-input-container layout="row" class="md-block md-icon-float" flex-gt-xs>
                    <md-icon class="md-icon-button md-primary">
                        <i class="material-icons">search</i>
                    </md-icon>
                    <input placeholder="Search" ng-model="detCtrl.searchValue">
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>
                    Search
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
 </div>